@model FinanceWebScraper.Models.Stock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Change)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Change)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PercentChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PercentChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarketCap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarketCap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SnapshotTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SnapshotTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
