@model IEnumerable<FinanceWebScraper.Models.Stock>

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SnapshotTime)          
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{ FinanceWebScraper.Models.Stock prevStock = new FinanceWebScraper.Models.Stock(); }
@foreach (var item in Model)
{
        <tr>
            <td>
                @{ if (item.SnapshotTime != prevStock.SnapshotTime)
                    {
                        @Html.DisplayFor(modelItem => item.SnapshotTime)
                        <br />
                        <a asp-action="Delete">Delete SnapShots</a>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    prevStock = item;


    }
    </tbody>
</table>
